<!doctype html>
<html>
  <head>
  <base href="/">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <script data-main="javascripts/core" src="javascripts/require.js"></script>
  </head>
  <body>
  <div class="container" ng-controller="AuthController">
    <h1>Verifying account...</h1>
  <div>
  </body>
</html>